[submodule "composer/node/ocrun"]
	path = composer/node/ocrun
	url = https://github.com/abcdesktopio/run-service.git
	branch = main
[submodule "etc/pulse"]
	path = etc/pulse
	url = https://github.com/abcdesktopio/pulse
